ngx-select {
  width: 350px;
  height: 10px;
}

.form-control {
  width: 350px;
  height: 40px;
}

label {
  padding-top: 8px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
